@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Общие стили */

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.button-current {
  background-color: #000000;
  color: #FFE17F;
}

/* header */

.page-header {
  color: #000000;
  background: #FFE17F;
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}

.navigation-logo {
  display: block;
  width: 145px;
  margin-left: 60px;
}

.navigation-user {
  display: flex;
  align-items: center;
  width: 1040px;
  margin: 0 auto;
}

.header-user {
  width: 780px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-button {
  margin-right: 26px;
}

.header-list {
  display: flex;
  justify-content: end;
  max-width: 250px;
  margin-left: auto;
}

.header-item:first-child {
  margin-right: 18px;
}

.navigation-list {
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
}

.navigation-item {
  width: 127px;
  margin-left: 45px;
  line-height: 19px;
}

.catalog-item {
  width: 293px;
  margin-left: 0;
  margin-right: auto;
}

.search-button-title {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
}

.search-text {
  margin: 0;
}

.search-text-field {
  font-size: 16px;
  line-height: 20px;
  background-color: #FFE17F;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 3.2px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .navigation-link {
  display: flex;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
}

.search-form {
  display: flex;
}

.header-current {
  opacity: 30%;
}

.header-link {
  text-align: center;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 5px 0px;
}

/* Главная страница */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.index-columns:last-child {
  margin-bottom: 0;
}

.slider {
  width: 560px;
}

.promo-product {
  width: 560px;
}

.promo-product-title {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.promo-product-description {
  margin-top: 0;
  margin-bottom: 51px;
}

.promo-product-feature-name {
  font-size: 36px;
  color: #000000;
}

.promo-product-feature-value {
  font-size: 16px;
  text-align: center;
}

.catalog-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-menu-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  letter-spacing: -2px;
}

.catalog-menu-card {
  margin-right: 40px;
}

.catalog-menu-card:last-child {
  margin-right: 0;
}

.catalog-menu-image {
  background-color: #FFE17F;
  margin-bottom: 32px;
}

.catalog-menu-title {
  margin: 0;
}

.description-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 34px;
}

.info {
  padding-top: 64px;
  padding-bottom: 65px;
}

.info-list {
  width: 287px;
  padding: 0;
  list-style-type: none;
}

.description {
  padding-top: 72px;
  padding-bottom: 72px;
}

.advantage {
  background: #F0F0F0;
  display: block;
}

.advantage-description {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 4px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
}

.advantage-link {
  text-decoration: none;
}

.about {
  width: 520px;
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 48px;
}

.delivery-item {
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.36px;
}

.contacts {
  width: 532px;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 48px;
}

.contacts-subtitle {
  font-size: 24px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.newsletter-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.newsletter {
  background: #F0F0F0;
}

/* footer */

.page-footer {
  color: #FFFFFF;
  background: #444444;
}

.page-footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer-navigation-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contacts {
  width: 250px;
  margin-right: 100px;
}

.footer-contacts-logo {
  margin-bottom: 35px;
}

.address-text {
  margin: 0;
}

.navigation-footer {
  display: flex;
  justify-content: space-between;
  width: 444px;
  margin: 0;
  margin-top: 75px;
  margin-bottom: 62px;
  padding: 0;
  list-style-type: none;
}

.navigation-footer-item {
  margin-right: 35px;
  line-height: 19px;
}

.navigation-footer-item:last-child {
  margin-right: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 15px;
  max-height: 40px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-phone {
  margin-left: auto;
  max-width: 175px;
  align-self: center;
}

.page-footer a {
  color: #FFFFFF;
}

.footer-contacts-address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

/*Страница каталога*/

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  color: #000000;
  font-size: 16px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.catalog-products {
  display: flex;
}

.catalog-filter {
  width: 234px;
  margin-right: 40px;
}

.catalog-right-column {
  width: 840px;
}

.catalog-filter-label {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing:3.2px;
}

.catalog-filter-title {
  line-height: 20px;
  color: #000000;
  font-weight: 700;
}

.control-label {
  font-size: 16px;
  color: #000000;
}

.catalog-filter-slider {
  font-size: 15px;
  color: #000000;
  opacity: 30%;
}

.filter-container {
  background: #F0F0F0;
}

.sorting-type-label {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing:3.2px;
}

.sorting-container {
  background: #F0F0F0;
}

.button-sort {
  text-decoration: none;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
}

.product-card-price {
  font-weight: 400;
}

.pagination-show-more {
  font-size: 16px;
}

.pagination-container {
  background: #F0F0F0;
}

.pagination-link {
  color: #444444;
  background-color: #F0F0F0;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}
